<!--
* 描述信息
*
* @author XiangShaolong 0095
* @version 1.0.0
* @company DtDream
* @date 2015/11/12 20:24
-->

<div class="mt10px">
    <div class="row mt10px">
        <div class="col-lg-6">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="全文搜索" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-info pull-right form-control" type="submit">
                            <span class="fa fa-search pull-left" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-default ml15px">清空搜索条件</button>
        </div>
    </div>
    <div class="row mt5px col-lg-12">
        <form role="form">
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox"  value="option1">库</label>
                <label class="checkbox-inline"><input type="checkbox"  value="option2">表</label>
                <label class="checkbox-inline"><input type="checkbox"  value="option3">字段</label>
                <label class="checkbox-inline"><input type="checkbox"  value="option4">任务</label>
                <label class="checkbox-inline"><input type="checkbox"  value="option5">工作流</label>
                <label class="checkbox-inline"><input type="checkbox"  value="option6">资源</label>
            </div>
        </form>
    </div>
    <div class="row col-lg-12 mt5px">
        <form>
            <span>创建时间从</span>
            <input type="date" placeholder="起始时间" style="height: 26px;">
            <span>到</span>
            <input type="date" placeholder="结束时间" style="height: 26px;">
        </form>
    </div>
</div>